@charset "UTF-8";
body{
    background-color: #d2dff2;
    background-image: url(image/bg.png);
    background-repeat: repeat-x;
}

h1{
    color: rgb(11, 11, 11);
    font-family: arial;
    background-color: rgb(165, 234, 240);
}
h2{
    color: firebrick;
}
p{
    font-size: large;
}

.first{
   border-width: 2px; 
   border-style: solid;
   padding-left: 3rem;
}
.first img{
    width:220px ;
    height: 300px;
}
.cat{
    padding-top:2rem;
    padding-left: 5rem;
}
.second{
    border: width 5px; 
    border-style: solid;
    padding-left: 3rem;
 }

.container{
display:flex;
/* justify-content: flex-end; */
}
table{
    width: 90%;
    margin-bottom: 2rem;
}

form{
    border-width: groove;
    border-style: solid;
    border-color: rgb(8, 8, 8);
    width: 90%;
}
